.title{
    text-emphasis: bold;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
}

.titleText{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    color: black;
    margin-bottom: 2rem;
}

.titleText a{
    text-decoration: none;

}

.projectPost{
    max-width: 90%;
    -webkit-box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.6);
    width:100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    border-radius: 0.8rem;
    transition: 0.3s;
}

.projectPostImage{
    min-width:35rem;
    max-width:40rem;
    height: auto;
    transform: translateX(-2rem);
    position:relative;
}

.projectPostImage img{
    width: 100%;
    height:100%;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}

.projectPostImage::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0.5rem, 0.5rem, 3rem 1px rgba(0,0,0,0.05);
    border-radius: 0.8rem;
}

.projectDate{
    display:block;
    color:rgba(0,0,0);
    font-size:1.4rem;
    margin: 0.1rem 0;
}

.projectName{
    font-size:1.8rem;
    margin: 1rem 0 0.5rem;
    text-transform: uppercase;
    color: #167fdb;
}

.projectText{
    margin-bottom:0.5rem;
    font-size: 1rem;
}

.projectLinks{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    letter-spacing: 1px;
    text-transform:uppercase;
    font-size: 1rem;
    color:#fff;
    background-color: rgb(41, 101, 150);
    border-radius: 0.8rem;
    text-decoration:none;
    margin: 0.2rem 0.5rem;  
}

.projectSkills{
    line-height: 2,4; 
    word-wrap: break-word;
}


.skill{
    display: inline-block;
    line-height: 1.2;
    padding:0.3rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: .85rem;
    font-weight: 400;
    color:rgb(41, 101, 150);
    background-color: rgb(230, 230, 230);
    border: 0.15em solid rgb(41, 101, 150);
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.skill:hover{
    opacity: 1;
    background-color:lightblue;

}

@media screen and (max-width: 1068px){
    .projectPost{
        max-width: 80rem;
    }
}

@media screen and (max-width: 1024px){
    .projectPost{
        padding: 2.5rem;
        max-width: 90%;
        flex-direction: column;
    }

    .projectPostImage{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0,0);
    }
}