.title{
    text-emphasis: bold;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}


.mainContent {
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 60%;
    margin-left:20%;
  }

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;  
}


.bioSection{
    color:black;
    font-size: 20px;
    max-width: 80%;
    padding:1rem;
    -webkit-box-shadow: -1px 1px 4px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 4px 5px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 4px 5px rgba(0,0,0,0.6);
    background-color: blanchedalmond;
}

.button {
  background-color: transparent;
  color:  rgb(41, 101, 150);
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  border: 2px solid;

  
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: all .2s ease-in-out;
  display: inline-flex;
  align-items: center;
}

.button:hover{
  background: rgb(243, 245, 247);
  border: 2px solid  rgb(174, 190, 202);
}