.title{
    text-emphasis: bold;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
}

.titleText{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    color: black;
    margin-bottom: 2rem;
}

.content{
    padding-top:1rem;
}
