.logo {
    color: #3c9074;
}

.logo:hover {
    color: #3c9074;
    transition: all 0.3s ease;
}

.menuButton {
    float: right;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 20px;
  }
  
  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    color:#58677e;
  }

  .mobileBrand{
    color: #3c9074;
    float:left;
    margin-top:1.7rem;
    margin-left:0.2rem;
    font-weight:600;
    font-size:2rem;
  }

  .navbar {
    text-align: center;
    background-color: #0a1930;
    margin-bottom: 30px;
    height: 80px;
    font-size: 1.3rem;
    position: absolute;
    width: 100%;
    top: 0;
    text-decoration:none;

  }

  .navbar a {
    text-transform: uppercase;
    color: #58677e;
    text-decoration: none;
}

.navbar a:hover {
    color: #3c9074;
    transition: all 0.3s ease;
}
  
  .navbar ul {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: fit-content;
    
  }
  
  .navbar li {
    margin: 10px 20px 10px 20px;
    display: inline-block;
  }
  
  
  .navbarMobile {
    display: block;
  }
  
  .navbarMobileMenu {
    text-align: center;
    margin-bottom: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    background-color: #0a1930;
  }

  .navbarMobileMenu a {
      text-transform: uppercase;
      color: #58677e;
      text-decoration: none;
  }

  
.navbarMobileMenu a:hover {
  color: #3c9074;
  transition: all 0.3s ease;
}
  
  .navbarMobileMenu ul {
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    
  }
  
  .navbarMobileMenu li {
    margin: 20px;
    display: block;
  }

  .navbarDesktop{
    display: none;
  }
  
  @media screen and (min-width: 800px) {
    .navbarDesktop {
      display: block;
    }
  
    .navbarMobile {
      display: none;
    }
  
    .navbarMobileMenu {
      display: none;
    }
  }
